/*Para evitar erros quanto acentuação, pois nosso idioma é português, e o inglês não tem acentos*/
@charset "UTF-8"; 
@font-face {  /*destina-se a especificar um tipo de fonte para uso em determinadas partes de uma página ou na página toda (ou no site todo) */
	font-family: Times New Roman, Helvetica, Arial;/* Fonte definida para meu site, posso se quiser importar uma fonte de outro site externo.*/
	
}


body{
	background-color: #4f4b4e;/* Cor do fundo do meu site. */
	color: rgba(0,0,0,1); /* Cor da fonte com transparência*/
	background-image: url("fundo.jpg"); /* Imagem de fundo do meu site. */
	background-size: 100%; /* Tamanho da minha imagem na proporção para minha página. */

}

div#interface {/* Delimitação de todo ponto absoluto dentro do meu site, tudo que estiver aqui dentro vai ficar dentro dessa divisão(container).*/
	width: 900px;/* Tamanho do meu conteudo da interface.*/
	background-color: #f0e9e8; /* Cor do meu fundo de interface.*/
	margin: -30px auto  0px auto;/* Margm da minha Interface, começando por cima, direita, baixo, esquerda.*/
	/* Colocando no modo auto, na parte da direita e da esquerda, ela vai ficar sempre centralizada quando eu diminuir a tela, ou aumentar.*/
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5); /* box shadow faz uma sombra, no caso usei o formato rgba(red, green, blue, alpha) para tonalizar essa sombra.*/
	padding: 10px 10px 10px 10px; /* Cria um espaço dentro da foto para com a borda. */

}

p {
	font-family: Times New Roman, Helvetica, Arial;/* Fonte definida para meu site, posso se quiser importar uma fonte de outro site externo.*/
	font-size: 12pt;/* Tamanho da minha fonte texto.*/
	font-style: italic; /* Estilo Itálico da minha fonte texto.*/
	text-align: justify;/* Justifico o meu texto nos parágrafos.*/
	text-indent: 50px;/* Faço a identação do meu parágrafo com início em 50px, ou seja um pouco mais adiantado do que a formatação a esquerda.*/
}

header#cabecalho img#icone { /* Identifico como id icone a imagem em meu cabeçalho.*/
	position: absolute;/* Sua posição faz com que ele possa correr toda minha página.*/
	left: 735px;
	top: 50px; /* Sua posição comparada ao topo do site(parte de cima), quanto maior mais pra baixo fica do topo.*/
	height: auto;
	width: 29%;
	

}

header#cabecalho {
	border-bottom: 1px #736e6e solid; /* Faz a divisão como borda(linha de divisão) do meu cabeçalho para com a parte do corpo site.*/
	height: 130px; /* Define a altura da divisão do meu cabeçalho com o body.*/
}

header#cabecalho h1{
	font-family: Times New Roman, Helvetica, Arial, sans-serif;/*Tipo de fonte de formatação dos títulos do meu cabeçaclho.*/
	font-size: 30pt;/* especificando o tamanho do meu texto.*/
	color: #000000;/* Cor dos meus titulos h1*/
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4); /* Sombreamento do meu título em preto.*/
	margin-bottom: 45px; /* Margem específica dentro do espaço(cima, direita,baixo,esquerda).*/
}

header#cabecalho h2{
	font-family: Times New Roman, sans-serif;/*Tipo de fonte de formatação dos títulos do meu cabeçaclho.*/
	font-size: 20pt;/* especificando o tamanho do meu texto.*/
	color: #000000;/* Cor dos meus titulos h2*/
	padding: 0px;/* Espaço interno dentro da borda.*/
	margin-top: 0px: /* Margem específica dentro do espaço(cima, direita,baixo,esquerda).*/
}

/* Formatação de Imagens com Legendas */
figure.foto-legenda{
	position: relative;/* Sua posição vai ficar relativo aonde foi colocado dentro do código.
	Como figcaption está em top 0px, não existe deslocamento, fazendo assim com que todo (container filho) fique dentro do bloco (figure) */
	border: 2px solid white ;/*Borda com largura, tipo de borda, e a cor da borda*/
	box-shadow: 1px 1px 4px black; /* Sombra em volta da borda com parametros de Deslocamento Hoizontal, Deslocamento Vertical e Espalhamento, + a cor definida.*/
}

figure.foto-legenda img{/* Esse estilo faz com que a imagem fique do tamanho da borda sem que ela vaze dela( saia fora) */
	width: 100%;
	height: 100%;

}
figure.foto-legenda figcaption{ /* Tratamento dado para a formatação da legenda na minha foto, no caso a legenda que aparece quando passa o mouse nela. */
	opacity: 0; /* faz com que eu tire toda a legenda da minha foto, fazendo com que ela fique opaca e invisível aos olhos da foto. */
	position: absolute;/*Posição absoluta dentro da borda branca, fazendo com que a imagem seja unica coisa dentro das bordas.*/
	top: 0px; /*Como seu top é de 0px, chamamos o (position relative) dentro de (Figure) 
	para fazer com que ele fique dentro do container do pai(imagem dentro da borda)*/
	background-color: rgba(0,0,0,.4); /* Faz com que a sobrecor em cima da imagem fique sombreado*/
	color: white; /* Cor do texto que está dentro do Sombreado. */
	width: 100%;
	height: 100%; /* Ambos preenche o sombreado por 100% da borda dentro da foto. */
	padding: 10px; /* Cria um espaço dentro da foto para com a borda. */
	box-sizing: border-box; /* Cria um box( uma divisão) dentro da minha foto para com a borda */
	transition: opacity 1s; /* Parametro de tempo que ficara estavel quando meu mouse passar pela imagem. */
}
figure.foto-legenda:hover figcaption{
	opacity: 1; /*Formatação específica para quando eu passar o mouse em cima da foto, em relevo ela vai mostrar a legenda. (1 = 100%). */
}
/* Formatação Menu */
nav#menu {
	display: block;/* Opção de menu em blocos, fazendo com que sua exibição flutue em blocos.*/
}
nav#menu ul {
	list-style: none; /* Formatação dos marcadores referência do meu, no caso a exclusão deles,*/
	text-transform: uppercase; /* Transforação do texto do campo menu em Máiúsculo. */
	position: absolute; /* Sua posição faz com que ele possa correr toda minha página, se fosse (posição relativa, somente poderia correr dentro do container.*/ 
	top: -20px;/* Posição em referência ao topo do meu site.(Está Negativo para poder ficar colado com o top da tela).*/
	left: 600px;/* Posição em Referência a esquerda do meu site.*/
}
nav#menu li {
	display: inline-block; /* Os itens ficam dispostos em bloco de maneira horizontal. */
	background-color: #dddddd; /* Cores das caixas de blocos dos menus. */
	padding: 10px; /* Colocando os itens dentro do menu num espaçamento interno, como se foxe um box. */
	margin: 4px; /* Espaçamento entre os boxes dos botões de menu. */
	transition: background-color 1s;/* Tempo em que o efeito de escurecimento(evidencia do menu) vai ter quando eu passar o mouse.*/
}
nav#menu li:hover { /* Efeito de escurecimento realizado quando eu passo o mouse por cima do menu.*/
	background-color: #606060;
}
nav#menu h1 {
	display: none; /* Faz com que a identificação do meu menu principal fique escondido, não tem sentido visual,
	mas fica visivel para os mecanismos de busca dentro do meu item de navegação. */
}
nav#menu a {/* menu com link*/
	color: #000000; /* Cor do texto do meu menu.*/
	text-decoration: none; /*Tirando o sublinhado do meu texto.*/
}
nav#menu a:hover { /* Fazendo com que o link mude de cor quando estiver ativo pelo mouse.*/
	color: #ffffff; /*Cor branco quando o mouse estiver sob o menu.*/
}
